@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body{
  background-color: #242424;
  color:#ededed;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #242424;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #242424;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.3);
	background-color: #e50914;
}
#logo{
    
    font-family:'Black Ops One', cursive;
    color:#e50914 !important;
}
#nav{
    border-bottom:1px solid rgba(255, 255, 255, 0.11);
    
}

.nav-link{
    font-family:'Black Ops One', cursive;
    margin-left:20px;
    padding:20px 40px !important;
    transition:0.2s ease-in;
}
.nav-link:hover{
    color:#ededed;
    background-color:#e50914;
    
}
a{
    text-decoration:none !important;
    color: #ededed;
}
a:hover{
    color:#ededed;
}

#heroimg{
  position:absolute;
  top:-200px;
  left:20%;
 -webkit-transform: scale(1.2) rotate(-30deg);
     -ms-transform: scale(1.2) rotate(-20deg);
         transform: scale(1.2) rotate(-30deg);
 z-index: -1;
}
#like{
    
}



#footer{
  font-family:'Black Ops One', cursive;
  border-top:1px solid rgba(255, 255, 255, 0.11);
  margin-top:10%;
}
